body {
    font-family: 'PT Sans', sans-serif;
    font-size:14px;
    font-weight: normal;
    background:#f2f2f2;
    color:#333333; 
    line-height:21px;
    text-transform: uppercase;
    margin: 0;
    padding:0;
        }



h2 {
    font-size:30px;
    font-weight: bold;
    color:#000000; 
    line-height:24px;
    }

h3 {
    font-size:21px;
    font-weight: bold;
    color:#000000; 
    line-height:26px;
    }

*, *::before, *::after {
box-sizing: inherit;
}
html {
box-sizing: border-box;
}
.content-box-component {
box-sizing: content-box;
} 

.layout-container{
    width:1200px;
    margin:0 auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-navigation {
    background-color:#ffffff;
}

.logo {
    position: absolute;
    left:48%;
    top:0;
    z-index: 3;
}

.main-navigation a {
    display: block;
    padding:15px 35px;
    color:#000;
    text-decoration:none;
    font-weight: bold;
}

.main-navigation a:hover {
    display: block;
    padding:15px 35px;
    color:#81b3d2;
    text-decoration:none;
    font-weight: bold;
}

.main-navigation a:active {
     display: block;
    padding:15px 35px;
    color:rgba(0,0,0,0.3);
    text-decoration:none;
    font-weight: bold; 
}


.main-navigation ul {
    margin:0;
    padding:0;
    list-style: none;
    font-size:0px;
}

.main-navigation li{
    display: inline-block;
    vertical-align:top;
    font-size:14px;
    line-height: 26px;
    margin-right: 112px;
}

.main-navigation li:last-child {
    margin-right:38px;
}

.main-navigation li:first-child {
    margin-left:38px;
}

.main-navigation li:nth-child(2) {
    margin-right: 264px;
}

.header {
    min-height:56px;
}

.intro {
    position: relative;
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
    
}

.intro img {
    padding:80px 350px;
}

.intro::after {
    content: url(../img/indes-intro-mask.png);
    position: absolute;
    top:90%;
    left:0;
}

.description  {
    background-color: #ffffff;
    background-image: url(../img/indes-intro-mask.png);
    background-position: top;
    background-repeat: no-repeat;
    height:215px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.description b {
    font-size:21px;
    line-height: 26px;
}



.first-feature, .feature2 {
    background-color:#81b3d2;
}

.features b {
    font-size:21px;
    line-height: 21px;
    text-align: center;
}

.first-feature-text {
    float:left;
    color:#ffffff;
    width:400px;
    height:255px;
    padding:50px;
    text-align: center;
}

.feature1-pic {
    float:right;
    width:800px;
    height:255px;
}

.feature1-detail {
    float:left;
    width:400px;
    height:335px;
    padding: 55px 55px 65px 55px;
    background-color: #ffffff;
    }

.feature1-detail p, .further-features p {
    text-align: center;
}

.feature1-detail:last-child {
    float:right;
}

.feature1-detail b {
    text-align: center;
}

.feature1-detail img {
    padding-left: 100px;
    padding-right: 100px;
}

.feature2-pic {
    float:left;
    width:800px;
    height:255px;
}

.second-picture-text {
    float:right;
    width:400px;
    height:255px;
    padding:50px 40px 50px 40px;
    color:#ffffff;
    text-align: center;

}

.further-features {
    float:left;
    width: 400px;
    height:255px;
    padding: 50px 60px 40px 60px;
    background-color: #eeeeee;
}

.further-features {
    text-align: center;
}


.interested {
    background-color: #ffffff;
}

.interested-text {
    padding: 34px 300px 110px 300px;
    text-align: center;
    line-height: 24px;
}

.footer-position {
    position: relative;
}

footer {
    width:1200px;
    height:122px;
    margin-left: 72px;
    background-color: #fefefe;
    opacity: 0.9;
}

.inner-footer {
    position:absolute;
    bottom:0;
    left:0;
}

footer b {
  font-size: 21px;  
  
}

.footer-tag {
   float: left;
    width:241px;
    height:119px;
      padding:45px 45px 45px 61px;
    margin-left: 72px;
    margin-right: 88px;
    
}

.social-links {
    float:left;
    width: 400px;
    height: 120px;
    padding: 37px 50px 37px 125px;
    margin-right: 10px;
}

.copyright {
    float:right;
    width:241px;
    height:119px;
    margin-right: 72px;
    
    
}

.copyright p {
    display:inline-block;
    margin:0;
    padding:0;
    
}

.copyright-img {
    display: inline-block;
    background-image: url(../img/htmlacademy-copyright.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height:42px;
    padding:60px;

}


.social-links .btn {
    display: inline-block;
    background-color: #81b3d2;
    height: 48px;
    width: 48px;
    margin-right: 6px;
    vertical-align: middle;
}


.social-links .btn:hover {
    background-color: #669ec0;
}


.tw-btn {
    background-image: url(../img/btn-twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.tw-btn:active {
    background-color: #5496bd;
    background-image: url(../img/btn-twitter-opacity.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn {
    background-image: url(../img/btn-facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn:active {
    background-color: #5496bd;
    background-image: url(../img/btn-facebook-opacity.png);
    background-repeat: no-repeat;
    background-position: center;
}


.youtube-btn {
    background-image: url(../img/btn-youtube.png);
    background-repeat: no-repeat;
    background-position: center;
}

.youtube-btn:active {
    background-color: #5496bd;
    background-image: url(../img/btn-youtube-opacity.png);
    background-repeat: no-repeat;
    background-position: center;
}



.hotel-search {
    position: absolute;
    width: 575px;
    height:85px;
    background-color: #766357;
    padding: 30px 140px;
    margin-top: 25px;
    margin-bottom: 0;
    
}

.hotel-search b {
    color:#ffffff;
    vertical-align: middle;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    
}


.popup-search {
    position:absolute;
    top:0;
    left:25%;
    z-index:10px;
    width:575px;
    height:396px;
    background-color: white;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15); 
}

.popup-search form {
    font-weight: bold;
     padding:56px 56px 56px 50px;
}

#movein, #moveout, #adults, #kids {
    margin-bottom: 29px;
    background: #f2f2f2;
    border: none;
    box-shadow: none; 
}

#movein, #moveout {
    width: 346px;
    height: 38px;
    background-image: url(../img/calendar.png);   
    background-repeat: no-repeat;    
    background-position: 310px; 
    
}

#adults, #kids {
    width: 115px;
    height: 38px;
    margin-right:20px;
    background-image: url(../img/less.png);
    
}

.popup-search label {
    padding: 13px;
}

#movein:hover {
    background: #ebebeb;
    border:none;
     background-image: url(../img/calendar-hover.png);   
    background-repeat: no-repeat;  
    background-position: 310px; 
}

#moveout:hover {
    background: #ebebeb;
    border:none;
     background-image: url(../img/calendar-hover.png);   
    background-repeat: no-repeat;   
    background-position: 310px; 
}

#adults:hover {
    background: #ebebeb;
    border:none;
}

#kids:hover {
    background: #ebebeb;
    border:none;
}

#movein:focus {
    background: #fff;
    border:2px solid #e5e5e5;
     background-image: url(../img/calendar-click.png);   
    background-repeat: no-repeat;    
    background-position: 310px; 
}

#moveout:focus {
    background: #fff;
    border:2px solid #e5e5e5;
     background-image: url(../img/calendar-click.png);   
    background-repeat: no-repeat;    
    background-position: 310px; 
}

#adults:focus {
    background: #fff;
    border:2px solid #e5e5e5;
}

#kids:focus {
    background: #fff;
    border:2px solid #e5e5e5;
}

.find-results {
    display: block;
   width: 458px;
   height: 55px;
   background-color: #81b3d2;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color:#ffffff;
    margin:0 auto;
    padding:15px;
    text-align: center;
}

.find-results:hover {
    background-color: #669ec0;
}

.find-results:active {
    background-color: #5496bd;
    color:#7fb0cd;
}

.filters {
    background: url(../img/filter-background.jpg) 0 0 no-repeat;
    color:#fff;

}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position:relative;
    padding-left: 30px;
    padding-bottom: 21px;
    line-height: 22px;
    display:inline-block;
    vertical-align: top;
    cursor:pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    display: block;
    width: 26px;
    height:26px;
    background: url(../img/checkbox-undone.png) no-repeat;
    position: absolute;
    top:0;
    left:0;
}

input[type="checkbox"]:checked+label::before {
    background: url(../img/checkbox-checked.png) no-repeat;
}


.filters ul {
    list-style: none;
    margin: 0;
    padding:0;
}


.filter1 {
    float: left;
    width:240px;
    height:215px;
    margin-left: 72px;
}

.filter2 {
    float: left;
    width:288px;
    height:215px;
    margin-right: 200px;
}

.filter3 {
    float: right;
    width:328px;
    height:215px;
    
}

.founded {
    background: #fefefe;
    width: 1200px;
    height: 90px;
}

.founded h3 {
    float: left;
    width:160px;
    margin-left: 72px;
    padding-right: 40px;
    padding-top:31px;
    
}

.founded p {
    float:left;
    padding-top:41px;
    
}

.founded ul {
    float:left;
    width:288px;
    height:90px;
}

.sort-btns {
    float:right;
    width: 240px;
    margin-right: 88px;
    padding: 35px 0px 35px 85px;
}

.results {
    background: #fefefe;
    
}

.result {
    box-shadow: none;
    background: #fefefe;
    border-bottom: 1px solid f6f6f6;
    width:1056px;
    height:150px;
    margin: 0px 72px 30px 72px;
    padding-top:30px;
}

.result img {
    display:block;
    float: left;
    margin: 30px 30px 30px 0px;
    box-sizing: border-box;
}

.result-description {
    float:left;
    width:360px;
    margin: 0px 0px 30px 0px;
    
}

.result-rating {
    float:right;
    width:240px;
    padding: 30px 0px 30px 150px;
}
