body {
    font-family: 'PT Sans', "Arial", sans-serif;
    font-size:14px;
    font-weight: normal;
    background:#f2f2f2;
    color:#333333; 
    line-height:21px;
    text-transform: uppercase;
    margin: 0;
    padding:0;
        }



h2 {
    font-size:30px;
    font-weight: bold;
    color:#000000; 
    line-height:24px;
    }

h3 {
    font-size:21px;
    font-weight: bold;
    color:#000000; 
    line-height:26px;
    }

*, *::before, *::after {
box-sizing: inherit;
}
html {
box-sizing: border-box;
}
.content-box-component {
box-sizing: content-box;
} 

.layout-container{
    width:1200px;
    margin:0 auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.main-navigation {
    background-color:#ffffff;
}

.logo {
    position: absolute;
    left:50%;
    top:0;
    margin-left: -69px;
    z-index: 3;
    width: 138px;
    height: 70px;
}

.main-navigation a {
    display: block;
    padding:15px 35px;
    color:#000;
    text-decoration:none;
    font-weight: bold;
}

.main-navigation a:hover {
    display: block;
    padding:15px 35px;
    color:#81b3d2;
    text-decoration:none;
    font-weight: bold;
}

.main-navigation a:active {
     display: block;
    padding:15px 35px;
    color:rgba(0,0,0,0.3);
    text-decoration:none;
    font-weight: bold; 
}


.main-navigation ul {
    margin:0;
    padding:0;
    list-style: none;
    font-size:0px;
}

.main-navigation li{
    display: inline-block;
    vertical-align:top;
    font-size:14px;
    line-height: 26px;
    margin-right: 112px;
}

.main-navigation li:last-child {
    margin-right:38px;
}

.main-navigation li:first-child {
    margin-left:38px;
}

.main-navigation li:nth-child(2) {
    margin-right: 264px;
}

.header {
    min-height:56px;
}

.intro {
    position: relative;
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
    background-position-y: -60px;
    
}

.intro img {
    padding:75px 372px;
}

.intro::after {
    content: url(../img/indes-intro-mask.png);
    position: absolute;
    height: 57px;
    width: 1200px;
    bottom:0%;
    left:0;
}

.description  {
    background-color: #ffffff;
    height:215px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.description b {
    font-size:21px;
    line-height: 26px;
}



.first-feature, .feature2 {
    background-color:#81b3d2;
}

.features b {
    font-size:21px;
    line-height: 21px;
    text-align: center;
    
}

.feature1-detail b {
    display: block;
    margin-bottom: 30px;
}

.first-feature-text {
    float:left;
    color:#ffffff;
    width:400px;

    padding:48px;
    text-align: center;
}

.feature1-pic {
    float:right;
    width:800px;
    height:255px;
}

.feature1-detail {
    float:left;
    width:400px;

    padding: 59px 55px 67px 55px;
    background-color: #ffffff;
    }

.feature1-detail p, .further-features p {
    text-align: center;
}

.feature1-detail:last-child {
    float:right;
}



.feature1-detail img {
    padding-left: 110px;
    margin-bottom: 30px;
}

.feature2-pic {
    float:left;
    width:800px;
    height:255px;
}

.second-picture-text {
    float:right;
    width:400px;

    padding:50px 40px 50px 40px;
    color:#ffffff;
    text-align: center;

}

.further-features {
    float:left;
    width: 400px;

    padding: 50px 60px 45px 60px;
    background-color: #eeeeee;
}

.further-features {
    text-align: center;
}


.interested {
    background-color: #ffffff;
}

.interested-text {
    padding: 34px 300px 110px 300px;
    text-align: center;
    line-height: 24px;
}

.footer-position {
    position: relative;
}

.interested-text p{
    margin-top: 30px;
    margin-bottom: 50px;
}

.map {
    position: relative;
}

.map-interactive {
    position:absolute;
    top:0;
}

footer {
    width:1200px;
    height:122px;

    background-color: #fefefe;
    opacity: 0.9;
     padding-left: 72px;
    padding-right: 72px;
        color: #101010;
}

.inner-footer {
    position:absolute;
    bottom:0;
    left:0;
  
}

footer b {
  font-size: 21px;  
  
}

.footer-tag {
   float: left;
    width:241px;

    padding:55px 45px 45px 72px;
margin-right: 88px;

    
}

.social-links {
    float:left;
    width: 400px;
    height: 120px;
    padding: 37px 50px 37px 125px;
    margin-right: 10px;
}

.copyright {
    float:right;
    width:241px;
    height:119px;
    padding:45px 0;
    
}

.copyright p {
    display:inline-block;
    margin:0;
    padding:0;
    line-height: 45px;
    margin-right: -30px;
    
}

.copyright-img {
    display: inline-block;
    width: 113px;
    height:39px;
margin: 0 6px;
    vertical-align: middle;
}

.copyright-img:hover {
    background-image: url(../img/copyright-hover.png)
}

.copyright-img:active {
    background-image: url(../img/copyright-click.png)
}



.social-links .btn {
    display: inline-block;
    background-color: #81b3d2;
    height: 48px;
    width: 48px;
    margin-right: 6px;
    vertical-align: middle;
}


.social-links .btn:hover {
    background-color: #669ec0;
}


.tw-btn {
    background-image: url(../img/btn-twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.tw-btn:active {
    background-color: #5496bd;
    background-image: url(../img/btn-twitter-opacity.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn {
    background-image: url(../img/btn-facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn:active {
    background-color: #5496bd;
    background-image: url(../img/btn-facebook-opacity.png);
    background-repeat: no-repeat;
    background-position: center;
}


.youtube-btn {
    background-image: url(../img/btn-youtube.png);
    background-repeat: no-repeat;
    background-position: center;
}

.youtube-btn:active {
    background-color: #5496bd;
    background-image: url(../img/btn-youtube-opacity.png);
    background-repeat: no-repeat;
    background-position: center;
}



.hotel-search {
    width: 575px;
    background-color: #766357;
    padding: 30px 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: -110px;
    cursor: pointer;
}

.hotel-search b {
    color:#ffffff;
    vertical-align: middle;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    
}


.popup-search {
    animation-name: bounce;
    animation-duration: 1s;
    position:absolute;
    top:0;
    left:26%;
    width:575px;
    padding-bottom: 55px;
    background-color: white;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15); 
}

.hotel-search-close {
    display: none;
    
}

.popup-search-error {
    animation-name: shake;
    animation-duration: 2s;
}

.popup-search form {
    font-weight: bold;
     padding:56px 56px 0px 50px;
}

#movein, #moveout, #adults, #kids {
    margin-bottom: 29px;
    background: #f2f2f2;
    border: none;
    box-shadow: none; 
    outline: none;
}

#movein, #moveout {
    width: 346px;
    height: 38px;
    background-image: url(../img/calendar.png);   
    background-repeat: no-repeat;    
    background-position: 310px; 
    
}


#movein {
    margin-left: 4px;
}

#adults, #kids {
    width: 115px;
    height: 38px;
    
background: url(../img/less.png) no-repeat 10px 18px,
                #f2f2f2 url(../img/more.png) no-repeat 90px 14px; 
            
}

#adults {
    margin-right: 37px;
    margin-left: 20px;
}

#kids {
    margin-left: 8px;
}

.popup-search label {
    padding: 13px;
}

#movein:hover {
    background: #ebebeb;
    border:none;
     background-image: url(../img/calendar-hover.png);   
    background-repeat: no-repeat;  
    background-position: 310px; 
}

#moveout:hover {
    background: #ebebeb;
    border:none;
     background-image: url(../img/calendar-hover.png);   
    background-repeat: no-repeat;   
    background-position: 310px; 
}

#adults:hover {
    background: #ebebeb;
    border:none;
 background: url(../img/less-hover.png) no-repeat 10px 18px,
                #f2f2f2 url(../img/more-hover.png) no-repeat 90px 14px; 
}

#kids:hover {
    background: #ebebeb;
    border:none;
    background: url(../img/less-hover.png) no-repeat 10px 18px,
                #f2f2f2 url(../img/more-hover.png) no-repeat 90px 14px; 
}

#movein:focus {
    background: #fff;
    border:2px solid #e5e5e5;
     background-image: url(../img/calendar-click.png);   
    background-repeat: no-repeat;    
    background-position: 310px; 
}

#moveout:focus {
    background: #fff;
    border:2px solid #e5e5e5;
     background-image: url(../img/calendar-click.png);   
    background-repeat: no-repeat;    
    background-position: 310px; 
}

#adults:focus {
    background-color: #fff;
    border:2px solid #e5e5e5;
     background: url(../img/less-click.png) no-repeat 10px 18px,
                url(../img/more-click.png) no-repeat 90px 14px; 
}

#kids:focus {
    background-color: #fff;
    border:2px solid #e5e5e5;
     background: url(../img/less-click.png) no-repeat 10px 18px,
                url(../img/more-click.png) no-repeat 90px 14px;
}

.find-results {
    display: block;
   width: 458px;
   height: 55px;
   background-color: #81b3d2;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color:#ffffff;
    margin:0 auto;
    padding:15px;
    text-align: center;
    margin-top: 35px;
    border: none;
    font-family: inherit;
    text-transform: inherit;
    outline: none;
    cursor: pointer;
}

.find-results:hover {
    background-color: #669ec0;
}

.find-results:active {
    background-color: #5496bd;
    color:#7fb0cd;
}

.filters {
    background: url(../img/filter-background.jpg) 0 0 no-repeat;
    color:#fff;
    padding:23px 72px;
    background-position-y: -50px;

}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position:relative;
    padding-left: 30px;
    padding-bottom: 21px;
    line-height: 22px;
    display:inline-block;
    vertical-align: top;
    cursor:pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    display: block;
    width: 26px;
    height:26px;
    background: url(../img/checkbox-undone.png) no-repeat;
    position: absolute;
    top:0;
    left:0;
}

input[type="checkbox"]:checked+label::before {
    background: url(../img/checkbox-checked.png) no-repeat;
}


.filters ul {
    list-style: none;
    margin: 0;
    padding:0;
}


.filter1 {
    float: left;
    width:240px;
  
}

.filter2 {
    float: left;
    width:288px;
  
    margin-right: 200px;
}

.filter3 {
    float: right;
    width:328px;
    height:215px;
 }


.result-description>h3>a {
    text-decoration: none;
    color:#000;
}


.founded {
    background: #fefefe;
    width: 1200px;
    height: 90px;
    padding:0px 73px 0px 72px;
    border-bottom: 2px solid #f6f6f6;
}

.founded h3 {
    float: left;
    width:160px;
     padding:8px 0;
    
}



.little-details {
    border-bottom: dotted 1px #81b3d2;
    text-decoration: none;
    color:black;
    opacity:0.3;
    
}

a.current-detail {
    border-bottom:none;
    color:#81b3d2;
}


a.little-details:hover {
    border-bottom: dotted 1px #81b3d2;
    text-decoration: none;
    color:#81b3d2;
    opacity:1;   
}


a.little-details:active {
    border: none;
    text-decoration: none;
    color:black;
        
}


.little-details+ul {
    margin:25px 0;
}

.founded p {
    float:left;
    padding-top:41px;
         font-size: 12px;
    line-height: 18px;
    border:none;
    opacity:1;
    padding:25px 0;
    
}

.founded ul {
    float:left;
    list-style: none;
    margin: 35px;
    padding-right: 40px;
    font-size: 12px;
    line-height: 18px;
}

.founded li {
    display: inline-block;
    padding-right: 30px;
}

.sort-btns {
    float:right;
    
    padding: 35px 0px 35px 85px;
}

.arrow-btn-down {
    display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../img/down.png);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-btn-down:hover {
   
    background-image: url(../img/down-hover.png);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-btn-down:active {
  
    background-image: url(../img/down-click.png);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-btn-up {
    display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../img/up-click.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right:5px;
}

.arrow-btn-up {
    display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../img/up.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right:5px;
}

.current-btn {
 display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../img/up-click.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right:10px;
}

.arrow-btn-up:hover {
    display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../img/up-hover.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right:10px;
}

.arrow-btn-up:active {
    display: inline-block;
    width: 10px;
    height: 11px;
    background-image: url(../img/up-click.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right:10px;
}

.results {
    background: #fefefe;
    
}

.result-description .btn {
    padding:4px 15px;
    color:#fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.details-btn {
    width:110px;
    background-color: #81b3d2;
    margin-right: 6px;
}

.book-btn {
    width:142px;
    background-color: #766357;
}


.details-btn:hover {
    background-color: #669ec0;
}

.details-btn:active {
    background-color: #5496bd;
    color:#7fb0cd;
}


.book-btn:hover {
    background-color: #604e43;
}

.book-btn:active {
    background-color: #503e33;
    color:#6f6057;
}


.result {
    box-shadow: none;
    background: #fefefe;
    border-bottom: 2px solid #f6f6f6;

    width:auto;
    height:150px;
    padding: 19px 72px 30px 72px;

}

.result-description h3 {
    margin:2px;
}

.result-profile-link:hover {
   
    color:#81b3d2;
    text-decoration:none;
    font-weight: bold;
}

.result-profile-link:active {
    
    color:rgba(0,0,0,0.3);
    text-decoration:none;
    font-weight: bold; 
}

.result-description p {
    margin:7px 0 17px 0;
    white-space: pre;
}

.result-image {
    display:block;
    float: left;
    margin: 7px 30px 0px 0px;
    box-sizing: border-box;
}

.result-description {
    float:left;
    width:360px;
    margin: 0px 0px 30px 0px;
    
}

.result-rating {
    float:right;
    width:110px;

}

.result-rating img {

    margin-right:0;
    margin-top: 5px;
    margin-bottom:40px;
}


.rating b{
    font-weight: normal;
    color:#666666;
 }

.rating-stars {
    margin-bottom: 45px;
}

.rating {
    width:110px;
    background-color: #f2f2f2;
    padding: 4px 13px;
}

.star:before {
    content: url(../img/1star.png);
    margin-right: 2px;
}



.filter-range {
    float: right;



  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  width:318px;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
    padding-top:5px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter1 h4, .filter2 h4 {
    font-size: 16px;
    margin-top: 0;
}

.main-navigation li .current-page {
    color: #766357;
}


@keyframes bounce {
  0%   {
    transform: translateY(-50px);
  }
    }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-50px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(50px);
  }
}